html { 
    background: url(images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
}

.talker{
    position: absolute;
    right: -500px;
    bottom: 0;
    transition: all .4s linear;
}

.intro{
    position: fixed;
    right: 0;
    bottom: 0;
}

.imgHolder{
    position: relative;
}

.bubble {
    opacity: 0;
    position: fixed;
    width: 25vw;
    height: 40px;
    padding: 5px;
    background: white;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: whites solid 2px;
    top: 30%;
    left: 50%;
    margin-top: -20px; /* Negative half of height. */
    margin-left: -12.5vw; /* Negative half of width. */
    
}

.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 11px 0 11px 29px;
    border-color: transparent white;
    display: block;
    width: 0;
    z-index: 1;
    right: -28px;
    top: 26px;
}

.bubble:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 12px 0 12px 30px;
    border-color: transparent white;
    display: block;
    width: 0;
    z-index: 0;
    right: -28px;
    top: 26px;
}

.introText{
    font-size: 1.5em;
    margin: 7px;
    text-align: center;
}


#menu{
    position: absolute;
    opacity: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 440px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin-top: -50px; /* Negative half of height. */
    margin-left: -220px; /* Negative half of width. */
}

.innerCircle{
    position: relative;
    float: left;
	border: 8px solid #9bc1ff;
	background-color: #5697ff;
	border-radius: 50%;
	height: 100px;
	width: 100px;
    margin:0;
    padding:0;
    margin-left: 5px;
    margin-right: 5px;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

button{
    outline:none;
}

.innerCircle a{
	font-size: 18px;
	line-height: 70px;
    margin:0;
    margin-left: -20px;
    margin-top: -10px;
    padding:0;
    width: 110%;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.innerCircle:hover{
	color:#ffffff;
    background-color: #9bc1ff;
	border-color: #9bc1ff;
	-webkit-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    box-shadow: 10px 10px 5px rgba(50,50,50,0.5);;
    z-index: 1;
}

.smoothAnim{
    transition: all .5s linear;
}

.smoothAnim-quick{
    transition: all .25s linear;
}

.innerCircle:visited{
	color:#ffffff;
    background-color: #5697ff;
}

.outerCircle{
    font-size: 1em;
}

.page{
    z-index: 1;
    position: fixed;
    display: none;
    top: 20px;
    bottom: 20px;
    left: 300px;
    right: 300px;
    background: url(Images/clipboard.png) no-repeat;
    background-size: 100%;
    transform: scale(0);
}

.inner{
    position: absolute;
    top:7.5%;
    bottom:7.5%;
    left:7.5%;
    right:15%;
    margin: 0;
    padding: 0;
}

.inner p, .inner h1{
    font-family: 'Just Another Hand', cursive;
}

.inner p{
    font-size: 2.5em;
}

.inner h1{
    font-size: 3.5em;
}

.closePageButton img{
    width: 100%;
}

.closePageButton{
    background-color:transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 20px;
    right: -75px;
	height: 100px;
	width: 100px;
    margin:0;
    padding:0;
    margin-left: 5px;
    margin-right: 5px;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

.closePageButton:hover{
	-webkit-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

#line01{
    margin-top: -45px;
}

#line02{
    margin-top: -53px;
}

#line03{
    margin-top: -55px;
}

#line04{
    margin-top: -51px;
}

#line05{
    margin-top: -55px;
}

#line06{
    margin-top: -54px;
}