body {
	background-color: #3d3d3d;
	margin: 0;
	font-family: helvetica;
}

main {
	width: 85%;
	margin-left: 15%;
}

main > h1, h3 {
	text-align: center;
}

main > h3 {
	color: rgb(15, 15, 15);
}

#navBar {
	background-color: black;
	width: 15%;
	height: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	-webkit-box-shadow: 5px 0px 75px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 0px 75px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 0px 75px 0px rgba(0,0,0,0.75);
	overflow: scroll;
	overflow-x: hidden;
	position: fixed;
}

#navBar li {
	margin-top: 10%;
	padding-top: 5%;
	padding-bottom: 4%;
	color: #696969;
	list-style-type: none;
	border: 2px solid #696969;
	border-radius: 10px;
	width: 70%;
	height: 8%;
	text-align: center;
	font-size: 22px !important;
}

#navBar ul {
	margin-bottom: 50px;
}

#navBar a {
	text-decoration: none;
	color: #696969;
}

img.ppic {
	width: 80%;
	height: auto;
	padding: 10% 10% 0% 10%;
}

nav > h2 {
	color: grey;
	font-size: 120%;
	text-align: center;
}

h4.credits {
	color: grey;
	text-align: center;
	font-size: 80%;
}

#navBar > hr {
	width: 65%;
}

ul > hr {
	margin-right: 25%;
}

hr.tab {
	margin-top: 15%;
	width: 80%;
	margin-left: -3%;
}

p.cv {
	margin-left: 5%;
	color: black;
	background-color: white;
	width: 80%;
	padding: 5%;
}

h1.cvHeader {
	text-align: center;
}

ul.assignments a {
	color: #000099;
	text-decoration: none;
}

ul.assignments {
	list-style-type: none;
}

ul.assignments span {
	color: black;
}

#twbackground {
	border: 2px solid black;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.3);
	width: 80%;
	margin: 15% 0% 0% 10%;
}

#typeWriter {
	text-align: center;
	color: white;
	font-size: 200%;
	font-weight: bold;
	text-shadow: 4px 4px 5px rgba(150, 150, 150, 1);
}

#typeWriterEffect {
	font-size: 250%;
	font-weight: bold;
	color: white;
	text-shadow: 4px 4px 5px rgba(150, 150, 150, 1);
}

div.typewriter {
	text-align: center;
	margin: 3% 3% 5% 3%;
}

table, th, td {
	border: 1px solid black;
}
table {
	position: relative;
	left: 40%;
}

table a {
	color: darkblue;
	padding-right: 20px;
}

/* Start Grow Button Effect */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* End Grow Button Effect */

/* Start Shrink Button Effect */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
/* End Schrink Button Effect */

::-webkit-scrollbar {
	background-color: slategrey;
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: darkgrey;
}

::selection {
	background-color: darkgrey;
	color: slategrey;
}

@media screen and (max-width: 1127px) {
	nav span {
		font-size: 80%;
	}
}

@media screen and (max-width: 1144px) {
	nav span {
		font-size: 80%;
	}

	nav li {
		margin-left: -18px;
	}

	nav ul {
		width: 100%;
	}
}

@media screen and (max-width: 1140px) {
	hr.tab {
		margin-left: -15px;
		width: 70%;
	}
}

@media screen and (max-width: 838px) {
	table {
		margin-left: -30px;
	}
}

@media screen and (max-width: 796px) {
	nav li {
		margin-left: 12px;
	}

	nav ul {
		width: 110%;
		margin-left: -45px;
	}

	hr.tab {
		margin-left: 18px;
	}
}

@media screen and (min-width: 670px) {
	#navBarSmall, #navBarSmall a, ul, li {
		display: hidden;
	}

	#navBarSmall li, #navBarSmall a, #navBarSmall ul {
		visibility: hidden;
	}
}

@media screen and (max-width: 670px) {
	#navBar {
		display: none;
	}

	main {
		width: 100%;
		margin-left: 0;
	}

	#navBarSmall {
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 80px;
		background-color: black;
		text-align: center;
	}

	li {
		color: white;
		margin-right: 30px;
	}

	li.profession {
		margin-right: 8%;
	}
}

table a {
	z-index: -1;
}

@media screen and (max-width: 529px) {
	#navBarSmall {
		font-size: 90%;
	}
}

@media screen and (max-width: 485px) {
	li {
		margin-right: 15px;
	}
}

@media screen and (max-width: 440px) {
	li {
		margin-right: 5px;
	}
}

@media screen and (max-width: 411px) {
	#navBarSmall {
		font-size: 80%;
	}

	li {
		margin-top: 5px;
	}
}

@media screen and (max-width: 372px) {
	#navBarSmall {
		font-size: 75%;
	}
}

@media screen and (max-width: 353px) {
	li {
		margin-right: 3px;
		margin-top: 10px;
	}

	#navBarSmall {
		font-size: 65%;
	}
}

@media screen and (max-width: 327px) {
	li {
		margin-right: -5px;
	}
}

@media screen and (max-width: 284px) {
	#navBarSmall {
		font-size: 55%;
	}
}

@media screen and (max-width: 251px) {
	#navBarSmall {
		font-size: 50%;
	}

	li {
		margin-top: 15px;
	}
}

@media screen and (max-width: 530px) {
	table {
		margin-left: -50px;
	}
}

@media screen and (max-width: 320px) {
	table {
		margin-left: -70px;
	}
}

@media screen and (max-width: 600px) {
	nav > h2 {
		font-size: 80%;
	}
}

@media screen and (max-width: 420px) {
	nav > h2 {
		font-size: 60%;
	}
}
